body {
    font-style: roboto;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    }

h1{
    color: #2196F3;
    font-size: 50px:
    }

a{
    text-decoration: none:
    color: #2196F3;
    }
img{
    margin: 20px;
    }

.post{
    max-width: 800px;
    margin: auto;
}